{% extends "search.html" %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% load search_extras %}

{# Do not display this block #}
{% block about-message-block %}{% endblock %}

{% block main-content-body-top %}
    <div class="col-md-12 mrgn-bttm-0 mrgn-tp-lg">
      {% if LANGUAGE_CODE == 'fr' %}
        {{ custom_search_message_fr | markdown_filter | safe }}
      {% else %}
        {{ custom_search_message_en | markdown_filter | safe }}
      {% endif %}
    </div>
{% endblock main-content-body-top %}

{% block main-content-centre-top %}
<div class="col-md-12 mrgn-bttm-md">
    <a href="{% translate 'https://open.canada.ca/en/forms/suggest-dataset' %}" class="btn btn-secondary btn-sm mrgn-rght-sm" target="_blank" rel="noopener noreferrer">
      <span class="glyphicon glyphicon-pencil text-success"></span>
      {% translate 'Suggest a dataset' %}
    </a>
</div>

<div class="col-md-12 mrgn-bttm-md">
  {% for msg in search_alerts %}
  <div class="alert alert-info">
    <p>{{ msg | markdown_filter | safe }}</p>
  </div>
  {% endfor %}
</div>

{# To filter Open Maps datasets with maps use display_flags:"fgp_viewer" #}

<div class="col-md-12">
<div class="ogscartwrapper mrgn-bttm-md mrgn-lft-xl" style="display:none; visibility:hidden;">
    <span class="glyphicon glyphicon-shopping-cart"> </span><span class="ogscarttally">{% translate "Tally of Items" %} </span>
    <a id="OGSCartListItems" class="ogscartlistbtn btn btn-default btn-sm" href="#"><span
            class="glyphicon glyphicon-list-alt"></span> {% translate "List Items" %}</a>
    <a id="OGSCartPlotItems" class="ogscartplotbtn btn btn-primary btn-sm" href="#"><span
            class="glyphicon glyphicon-picture"></span> {% translate "View on Map" %}</a>
    <a id="OGSCartDumpItems" class="ogscartplotbtn btn btn-danger btn-sm" href="#"><span
            class="glyphicon glyphicon-trash"></span> {% translate "Clear List" %}</a>
</div></div>

{% endblock main-content-centre-top %}
