
{% load i18n %}
{% load search_extras %}

<div class="row">
<div class="col-md-3"><strong>{% translate 'Action Number:' %}</strong></div>
<div class="col-md-9">{{ doc.action_id }}</div>
</div>

<div class="row">
<div class="col-md-3"><strong>{% translate 'Date:' %}</strong></div>
<div class="col-md-9">{% if language == "fr" %}{{ doc.action_date_fr }}{% else %}{{ doc.action_date_en }}{% endif %}</div>
</div>

<div class="row">
<div class="col-md-3"><strong>{% translate 'Priority:' %}</strong></div>
<div class="col-md-9">{% if language == "fr" %}{{ doc.priority_fr }}{% else %}{{ doc.priority_en }}{% endif %}</div>
</div>

<div class="row">
<div class="col-md-3"><strong>{% translate 'Action Area:' %}</strong></div>
<div class="col-md-9">{% if language == "fr" %}{{ doc.action_area_fr }}{% else %}{{ doc.action_area_en }}{% endif %}</div>
</div>

<div class="row">
<div class="col-md-3"><strong>{% translate 'Action:' %}</strong></div>
<div class="col-md-9">{% if language == "fr" %}{{ doc.action_fr | markdown_filter | safe }}{% else %}{{ doc.action_en | markdown_filter | safe }}{% endif %}</div>
</div>

<div class="row">
<div class="col-md-3"><strong>{% translate 'Lead Organization:' %}</strong></div>
<div class="col-md-9">
  {% if doc.lead_org|length > 1 %}
    <ul>{% if language == "fr" %}{% for org in doc.lead_org_fr %}<li>{{ org }}</li>{% endfor %}
    {% else %}{% for org in doc.lead_org_en %}<li>{{ org }}</li>{% endfor %}{% endif %}</ul>
  {% else %}
    {% if language == "fr" %}{{ doc.lead_org_fr.0 }}{% else %}{{ doc.lead_org_en.0 }}{% endif %}
  {% endif %}
</div>
</div>

{% if not doc.sub_actions_en == "-" %}
<div class="row">
<div class="col-md-3"><strong>{% translate 'Sub Action:' %}</strong></div>
<div class="col-md-9">{% if language == "fr" %}{{ doc.sub_actions_fr | markdown_filter | safe }}{% else %}{{ doc.sub_actions_en | markdown_filter | safe }}{% endif %}</div>
</div>

<div class="row mrgn-bttm-md">
<div class="col-md-3"><strong>{% translate 'Date:' %}</strong></div>
<div class="col-md-9">{% if language == "fr" %}{{ doc.sub_actions_date_fr }}{% else %}{{ doc.sub_actions_date_en }}{% endif %}</div>
</div>
{% endif %}

{% if not doc.sub_action2_en == "-" %}
<div class="row">
<div class="col-md-3"><strong>{% translate 'Sub Action 2:' %}</strong></div>
<div class="col-md-9">{% if language == "fr" %}{{ doc.sub_action2_fr | markdown_filter | safe }}{% else %}{{ doc.sub_action2_en | markdown_filter | safe }}{% endif %}</div>
</div>

<div class="row mrgn-bttm-md">
<div class="col-md-3"><strong>{% translate 'Date:' %}</strong></div>
<div class="col-md-9">{% if language == "fr" %}{{ doc.sub_action2_date_fr }}{% else %}{{ doc.sub_action2_date_en }}{% endif %}</div>
</div>
{% endif %}

{% if not doc.sub_action3_en == "-" %}
<div class="row">
<div class="col-md-3"><strong>{% translate 'Sub Action 3:' %}</strong></div>
<div class="col-md-9">{% if language == "fr" %}{{ doc.sub_action3_fr | markdown_filter | safe }}{% else %}{{ doc.sub_action3_en | markdown_filter | safe }}{% endif %}</div>
</div>

<div class="row mrgn-bttm-md">
<div class="col-md-3"><strong>{% translate 'Date:' %}</strong></div>
<div class="col-md-9">{% if language == "fr" %}{{ doc.sub_action3_date_fr }}{% else %}{{ doc.sub_action3_date_en }}{% endif %}</div>
</div>
{% endif %}

