{% load i18n %}
{% load search_extras %}

<div class="row mrgn-bttm-lg" xmlns="http://www.w3.org/1999/html">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12"><strong><a href="{{ path_info }}record/{{ doc.id }}">{% translate 'Action Number: ' %}{{ doc.action_id }}</a></strong></div>

      <div class="col-md-3"><strong>{% translate 'Date:' %}</strong></div>
      <div class="col-md-3">{% if language == "fr" %}{{ doc.action_date_fr }}{% else %}{{ doc.action_date_en }}{% endif %}</div>
      <div class="col-md-3"><strong>{% translate 'Priority:' %}</strong></div>
      <div class="col-md-3">{% if language == "fr" %}{{ doc.priority_fr }}{% else %}{{ doc.priority_en }}{% endif %}</div>

      <div class="col-md-3"><strong>{% translate 'Action Area:' %}</strong></div>
      <div class="col-md-9">{% if language == "fr" %}{{ doc.action_area_fr }}{% else %}{{ doc.action_area_en }}{% endif %}</div>

      <div class="col-md-3"><strong>{% translate 'Action:' %}</strong></div>
      <div class="col-md-9">{% if language == "fr" %}{{ doc.action_fr | markdown_filter | safe }}{% else %}{{ doc.action_en | markdown_filter | safe }}{% endif %}</div>

      <div class="col-md-3"><strong>{% translate 'Lead Organization:' %}</strong></div>
      <div class="col-md-9">
        {% if doc.lead_org|length > 1 %}
          <ul>{% if language == "fr" %}{% for org in doc.lead_org_fr %}<li>{{ org }}</li>{% endfor %}
          {% else %}{% for org in doc.lead_org_en %}<li>{{ org }}</li>{% endfor %}{% endif %}</ul>
        {% else %}
          {% if language == "fr" %}{{ doc.lead_org_fr.0 }}{% else %}{{ doc.lead_org_en.0 }}{% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
