{% load search_extras %}
{% load i18n %}

{% if doc.format == 'NTR' %}
<div class="row mrgn-bttm-lg">
    <div class="col-md-6"><em>{% trans 'Nothing to report this quarter' %}</em></div>
    <div class="col-md-6 text-right">{% if language == "fr" %} {{ doc.quarter_fr }} {% else %} {{ doc.quarter_en }} {% endif %}, {{ doc.year }}</div>
    <div class="col-md-12"><strong>{% translate 'Organization:' %}</strong> {% if language == "fr" %} {{ doc.owner_title_fr.0 | safe }} {% else %} {{ doc.owner_title_en.0 | safe }} {% endif %}</div>
</div>
{% else %}
<div class="row mrgn-bttm-lg">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8" style="font-size: larger"><a href="{{ path_info }}record/{{ doc.id|urlencode }}"><strong>{% if language == 'en' %}{{ doc.pos_title_en | safe }}{% else %}{{ doc.pos_title_fr | safe }}{% endif %}</strong></a></div>
            <div class="col-md-4 text-right"><strong>{{ doc.old_class_group_code | safe }}-{{ doc.old_class_level|intformat:"{:02d}" }}</strong> <span class="glyphicon glyphicon-arrow-right"></span> <strong>{{ doc.new_class_group_code | safe }}-{{ doc.new_class_level|intformat:"{:02d}" }}</strong></div>
        </div>
        <div class="row">
            <div class="col-md-8">{% translate 'Position No.' %} {{ doc.pos_number | safe }} <br>{% translate 'Reference No.' %} {{ doc.ref_number | safe }}</div>
            <div class="col-md-4 text-right">{% if language == 'fr' %}{{ doc.date_fr }}{% else %}{{ doc.date_en }}{% endif %}</div>
        </div>
        <div class="row">
            <div class="col-md-12"><strong>{% translate 'Organization: ' %}</strong>{% if language == 'fr' %}{{ doc.owner_title_fr.0 | safe }}{% else %}{{ doc.owner_title_en.0 | safe }}{% endif %}</div>
        </div>
    </div>
</div>
{% endif %}
