{% load i18n %}
{% load search_extras %}

<div class="row mrgn-bttm-xl">

  <div class="col-sm-12 mrgn-bttm-md">
      <h2 class="mrgn-tp-0 mrgn-bttm-sm h4">
          {% if language == 'fr' %}
              Rapport / Initiative : {{ doc.report_fr | markdown_filter | safe | strip_paragraph }}
          {% else %}
              Report / Initiative: {{ doc.report_en | markdown_filter | safe | strip_paragraph }}</a>
          {% endif %}
      </h2>
  </div>

  <div class="col-sm-12">
      <strong>{% translate 'Title: ' %}</strong>{% if language == 'fr' %}<a href="{{ path_info }}record/{{ doc.id }}">{{ doc.short_desc_fr | safe }}{% else %}<a href="{{ path_info }}record/{{ doc.id }}">{{ doc.short_desc_en | safe }}{% endif %}</a>
  </div>

  <div class="col-sm-12">
      <strong>{% translate 'Recommendation #: ' %}</strong>{{ doc.record_no|floatformat:-1 }}
  </div>

  <div class="col-sm-12">
      {% if language == 'fr' %}{{ "<strong>Recommendation :</strong> "|add:doc.desc_fr|markdown_filter|truncatewords_html:30|safe }}{% else %}{{ "<strong>Recommendation:</strong> "|add:doc.desc_en|markdown_filter|truncatewords_html:30|safe }}{% endif %}
  </div>

  <div class="col-sm-12">
      <strong>{% translate 'Culture Aspect: ' %}</strong>{% if language == 'fr' %}{{ doc.culture_aspect_fr }}{% else %}{{ doc.culture_aspect_en }}{% endif %}
  </div>

  <div class="col-sm-12">
      <strong>{% translate 'Expected Implementation: ' %}</strong>{% if language == 'fr' %}{{ doc.completion_date_fr }}{% else %}{{ doc.completion_date_en }}{% endif %}
  </div>

  {% if doc.actual_date != "2000-01-01T00:00:00Z" %}
    <div class="col-sm-12">
      <strong>{% translate 'Completion Date: ' %}</strong>{% if language == 'fr' %}{{ doc.actual_date_fr }}{% else %}{{ doc.actual_date_en }}{% endif %}
  </div>
  {% endif %}

  <div class="col-sm-12">
       <strong>{% translate 'Status: ' %}</strong>
    <span class="label {% if doc.status == 'not_started' %}label-danger{% elif doc.status == 'in_progress' %}label-info{% elif doc.status == 'completed' %}label-success{% endif %}">
    {% if language == 'fr' %}{{ doc.status_fr }}{% else %}{{ doc.status_en }}{% endif %}</span>
  </div>

</div>
