{% load i18n %}
{% load search_extras %}

<div class="row mrgn-bttm-xl">

  <div class="col-sm-12 mrgn-bttm-md">
      <h2 class="mrgn-tp-0 mrgn-bttm-sm h4">
          {% if language == 'fr' %}
              Rapport : <a href="{{ path_info }}record/{{ doc.id }}">{{ doc.report_fr | markdown_filter | safe | strip_paragraph }}</a>
          {% else %}
              Report: <a href="{{ path_info }}record/{{ doc.id }}">{{ doc.report_en | markdown_filter | safe | strip_paragraph }}</a>
          {% endif %}
      </h2>
  </div>

  <div class="col-sm-12">
      <strong>{% translate 'Title: ' %}</strong>{% if language == 'fr' %}{{ doc.short_desc_fr | safe }}{% else %}{{ doc.short_desc_en | safe }}{% endif %}
  </div>

  <div class="col-sm-12">
      <strong>{% translate 'Recommendation #: ' %}</strong>{{ doc.record_no }}
  </div>

  <div class="col-sm-12">
      <strong>{% translate 'Recommendation: ' %}</strong><br>{% if language == 'fr' %}{{ doc.desc_fr | markdown_filter | safe  }}{% else %}{{ doc.desc_en | markdown_filter | safe }}{% endif %}
  </div>

  <div class="col-sm-12">
      <strong>{% translate 'Culture Aspect: ' %}</strong>{% if language == 'fr' %}{{ doc.culture_aspect_fr }}{% else %}{{ doc.culture_aspect_en }}{% endif %}
  </div>

  <div class="col-sm-12">
       <strong>{% translate 'Status: ' %}</strong>
    <span class="label {% if doc.status == 'not_started' %}label-danger{% elif doc.status == 'in_progress' %}label-info{% elif doc.status == 'completed' %}label-success{% endif %}">
    {% if language == 'fr' %}{{ doc.status_fr }}{% else %}{{ doc.status_en }}{% endif %}</span>
  </div>

</div>
