
{% load i18n %}
{% load search_extras %}

<div class="row">
  <div class="col-md-3"><strong>{% translate 'Report: ' %}</strong></div>
  <div class="col-md-9">{% if language == "fr" %}{{ doc.report_fr }}{% else %}{{ doc.report_en }}{% endif %}</div>
</div>

<div class="row mrgn-tp-md">
  <div class="col-md-3"><strong>{% translate 'Title: ' %}</strong></div>
  <div class="col-md-9">{% if language == "fr" %}{{ doc.short_desc_fr | markdown_filter | safe }}{% else %}{{ doc.short_desc_en | markdown_filter | safe }}{% endif %}</div>
</div>

<div class="row mrgn-tp-md">
  <div class="col-md-3"><strong>{% translate 'Recommendation #: ' %}</strong></div>
  <div class="col-md-9">{% if language == "fr" %}{{ doc.record_no_fr }}{% else %}{{ doc.record_no_en }}{% endif %}</div>
</div>

<div class="row mrgn-tp-md">
  <div class="col-md-3"><strong>{% translate 'Recommendation: ' %}</strong></div>
  <div class="col-md-9">{% if language == "fr" %}{{ doc.desc_fr }}{% else %}{{ doc.desc_en }}{% endif %}</div>
</div>

<div class="row mrgn-tp-md">
  <div class="col-md-3"><strong>{% translate 'Culture Aspect: ' %}</strong></div>
  <div class="col-md-9">{% if language == "fr" %}{{ doc.culture_aspect_fr }}{% else %}{{ doc.culture_aspect_en }}{% endif %}</div>
</div>

<div class="row mrgn-tp-md">
  <div class="col-md-3"><strong>{% translate 'Expected Implementation: ' %}</strong></div>
  <div class="col-md-9">{% if language == "fr" %}{{ doc.completion_date_fr }}{% else %}{{ doc.completion_date_en }}{% endif %}</div>
</div>

<div class="row mrgn-tp-md">
  <div class="col-md-3"><strong>{% translate 'Status: ' %}</strong></div>
  <div class="col-md-9">{% if language == "fr" %}{{ doc.status_fr }}{% else %}{{ doc.status_en }}{% endif %}</div>
</div>

{% if language == "fr" %}
  {% if doc.status_comments_fr != '-' %}
  <div class="row mrgn-tp-md">
  <div class="col-md-3"><strong>{% translate 'Status Narrative: ' %}</strong></div>
  <div class="col-md-9">{{ doc.status_comments_fr }}</div>
  </div>
  {% endif %}
  {% if doc.web_links_fr != '-' %}
  <div class="row mrgn-tp-md">
  <div class="col-md-3"><strong>{% translate 'Web Links: ' %}</strong></div>
  <div class="col-md-9">{{ doc.web_links_fr | markdown_filter | safe }}</div>
  </div>
  {% endif %}
{% else %}
  {% if doc.status_comments_en != '-' %}
  <div class="row mrgn-tp-md">
  <div class="col-md-3"><strong>{% translate 'Status Narrative: ' %}</strong></div>
  <div class="col-md-9">{{ doc.status_comments_en }}</div>
  </div>
  {% endif %}
  {% if doc.web_links_en != '-' %}
  <div class="row mrgn-tp-md">
  <div class="col-md-3"><strong>{% translate 'Web Links: ' %}</strong></div>
  <div class="col-md-9">{{ doc.web_links_en | markdown_filter | safe }}</div>
  </div>
  {% endif %}
{% endif %}

{% if doc.actual_date != "2000-01-01T00:00:00Z" %}
<div class="row mrgn-tp-md">
<div class="col-md-3"><strong>{% translate 'Actual implementation date: ' %}</strong></div><br>
<div class="col-md-9">{% if language == "fr" %}{{ doc.actual_date_fr }}{% else %}{{ doc.actual_date_en }}{% endif %}</div>
</div>
{% endif %}
