{% extends "record.html" %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% load search_extras %}
{% get_current_language as LANGUAGE_CODE %}

<div class="col-md-12">
{% block main-content-search-items %}
  <div class="col-sm-12 mrgn-tp-md">
  <section class="panel panel-info mrgn-tp-lg">
    <header class="panel-heading">
      <h2 class="panel-title">{% translate 'Report: ' %} {% if language == "fr" %}{{ docs.0.report_fr }}{% else %}{{ docs.0.report_en }}{% endif %}</h2>
    </header>
    <div class="panel-body">
      <dl>
        <div class="row">
          <dt><div class="col-md-3"><strong>{% translate 'Title: ' %}</strong></div></dt>
          <dd><div class="col-md-9">{% if language == "fr" %}{{ docs.0.short_desc_fr | markdown_filter | safe }}{% else %}{{ docs.0.short_desc_en | markdown_filter | safe }}{% endif %}</div></dd>
        </div>
        <div class="row mrgn-tp-md">
          <dt><div class="col-md-3"><strong>{% translate 'Recommendation #: ' %}</strong></div></dt>
          <dd><div class="col-md-9">{% if language == "fr" %}{{ docs.0.record_no_fr }}{% else %}{{ docs.0.record_no_en }}{% endif %}</div></dd>
        </div>

        <div class="row mrgn-tp-md">
          <dt><div class="col-md-3"><strong>{% translate 'Recommendation: ' %}</strong></div></dt>
          <dd><div class="col-md-9">{% if language == "fr" %}{{ docs.0.desc_fr | markdown_filter | safe }}{% else %}{{ docs.0.desc_en | markdown_filter | safe }}{% endif %}</div></dd>
        </div>

        <div class="row mrgn-tp-md">
          <dt><div class="col-md-3"><strong>{% translate 'Culture Aspect: ' %}</strong></div></dt>
          <dd><div class="col-md-9">{% if language == "fr" %}{{ docs.0.culture_aspect_fr }}{% else %}{{ docs.0.culture_aspect_en }}{% endif %}</div></dd>
        </div>

        {% if language == "fr" %}
          {% if docs.0.context_fr != '-' %}
        <div class="row mrgn-tp-md">
          <dt><div class="col-md-3"><strong>{% translate 'Context: ' %}</strong></div></dt>
          <dd><div class="col-md-9">{{ docs.0.context_fr | markdown_filter | safe }}</div></dd>
        </div>
          {% endif %}
        {% else %}
          {% if docs.0.context_en != '-' %}
        <div class="row mrgn-tp-md">
          <dt><div class="col-md-3"><strong>{% translate 'Context: ' %}</strong></div></dt>
          <dd><div class="col-md-9">{{ docs.0.context_en | markdown_filter | safe }}</div></dd>
        </div>
          {% endif %}
        {% endif %}

        {% if language == "fr" %}
          {% if docs.0.web_links_fr1 != '-' %}
          <div class="row mrgn-tp-md">
            <dt><div class="col-md-3"><strong>{% translate 'Web Links: ' %}</strong></div></dt>
            <dd><div class="col-md-9" style="word-wrap: break-word;white-space: pre-wrap;"><a href="{{ docs.0.web_links_fr1 }}" target="_blank">{{ docs.0.web_links_fr1 | safe }}</a></div></dd>
          </div>
          {% endif %}
          {% if docs.0.web_links_fr2 != '-' %}
          <div class="row mrgn-tp-md">
            <dt><div class="col-md-3">&nbsp;</div></dt>
            <dd><div class="col-md-9" style="word-wrap: break-word;white-space: pre-wrap;"><a href="{{ docs.0.web_links_fr2 }}" target="_blank">{{ docs.0.web_links_fr2 | safe }}</a></div></dd>
          </div>
          {% endif %}
          {% if docs.0.web_links_fr3 != '-' %}
          <div class="row mrgn-tp-md">
            <dt><div class="col-md-3">&nbsp;</div></dt>
            <dd><div class="col-md-9" style="word-wrap: break-word;white-space: pre-wrap;"><a href="{{ docs.0.web_links_fr3 }}" target="_blank">{{ docs.0.web_links_fr3 | safe }}</a></div></dd>
          </div>
          {% endif %}
          {% if docs.0.web_links_fr4 != '-' %}
          <div class="row mrgn-tp-md">
            <dt><div class="col-md-3">&nbsp;</div></dt>
            <dd><div class="col-md-9" style="word-wrap: break-word;white-space: pre-wrap;"><a href="{{ docs.0.web_links_fr4 }}" target="_blank">{{ docs.0.web_links_fr4 | safe }}</a></div></dd>
          </div>
          {% endif %}
        {% else %}
          {% if docs.0.web_links_en1 != '-' %}
          <div class="row mrgn-tp-md">
            <dt><div class="col-md-3"><strong>{% translate 'Web Links: ' %}</strong></div></dt>
            <dd><div class="col-md-9" style="word-wrap: break-word;white-space: pre-wrap;"><a href="{{ docs.0.web_links_en1 }}" target="_blank">{{ docs.0.web_links_en1 | safe }}</a></div></dd>
          </div>
          {% endif %}
          {% if docs.0.web_links_en2 != '-' %}
          <div class="row mrgn-tp-md">
            <dt><div class="col-md-3">&nbsp;</div></dt>
            <dd><div class="col-md-9" style="word-wrap: break-word;white-space: pre-wrap;"><a href="{{ docs.0.web_links_en2 }}" target="_blank">{{ docs.0.web_links_en2 | safe }}</a></div></dd>
          </div>
          {% endif %}
          {% if docs.0.web_links_en3 != '-' %}
          <div class="row mrgn-tp-md">
            <dt><div class="col-md-3">&nbsp;</div></dt>
            <dd><div class="col-md-9" style="word-wrap: break-word;white-space: pre-wrap;"><a href="{{ docs.0.web_links_en3 }}" target="_blank">{{ docs.0.web_links_en3 | safe }}</a></div></dd>
          </div>
          {% endif %}
          {% if docs.0.web_links_en4 != '-' %}
          <div class="row mrgn-tp-md">
            <dt><div class="col-md-3">&nbsp;</div></dt>
            <dd><div class="col-md-9" style="word-wrap: break-word;white-space: pre-wrap;"><a href="{{ docs.0.web_links_en4 }}" target="_blank">{{ docs.0.web_links_en4 | safe }}</a></div></dd>
          </div>
          {% endif %}
        {% endif %}
      </dl>
    </div>
  </section>
  </div>

  <div class="col-sm-12 mrgn-tp-sm"><h2>{% translate 'Updates' %}</h2></div>

  <div class="col-sm-12 mrgn-tp-sm">
  {% for doc in docs %}
    <div class="panel panel-default">
      <header class="panel-heading"><h5 class="panel-title">{% if language == "fr" %}{{ doc.reporting_period_fr }}{% else %}{{ doc.reporting_period_en }}{% endif %}</h5></header>
      <div class="panel-body">
        <dl>
          <div class="row mrgn-tp-md">
            <dt><div class="col-md-4"><strong>{% translate 'Expected Implementation: ' %}</strong></div></dt>
            <dd><div class="col-md-8">{% if language == "fr" %}{{ doc.completion_date_fr }}{% else %}{{ doc.completion_date_en }}{% endif %}</div></dd>
          </div>

          <div class="row mrgn-tp-md">
            <dt><div class="col-md-4"><strong>{% translate 'Status: ' %}</strong></div></dt>
            <dd>
              <div class="col-md-8">
                <span class="label {% if doc.status == 'not_started' %}label-danger{% elif doc.status == 'in_progress' %}label-info{% elif doc.status == 'completed' %}label-success{% endif %}">{% if language == 'fr' %}{{ doc.status_fr }}{% else %}{{ doc.status_en }}{% endif %}</span>
              </div>
            </dd>
          </div>
          {% if language == "fr" %}
            {% if doc.status_comments_fr != '-' %}
            <div class="row mrgn-tp-md">
              <dt><div class="col-md-4"><strong>{% translate 'Status Narrative: ' %}</strong></div></dt>
              <dd><div class="col-md-8">{{ doc.status_comments_fr | markdown_filter | safe  }}</div></dd>
            </div>
            {% endif %}
          {% else %}
            {% if doc.status_comments_en != '-' %}
            <div class="row mrgn-tp-md">
              <dt><div class="col-md-4"><strong>{% translate 'Status Narrative: ' %}</strong></div></dt>
              <dd><div class="col-md-8">{{ doc.status_comments_en | markdown_filter | safe  }}</div></dd>
            </div>
            {% endif %}
          {% endif %}

          {% if doc.actual_date != "2000-01-01T00:00:00Z" %}
          <div class="row mrgn-tp-md">
            <dt><div class="col-md-4"><strong>{% translate 'Completion Date: ' %}</strong></div></dt>
            <dd><div class="col-md-8">{% if language == "fr" %}{{ doc.actual_date_fr }}{% else %}{{ doc.actual_date_en }}{% endif %}</div></dd>
          </div>
          {% endif %}

        </dl>
      </div>
    </div>
  {% endfor %}
  </div>
{% endblock main-content-search-items %}
</div>
