{% load i18n %}
{% load search_extras %}
{% load static %}

<div class="col-md-12 mrgn-tp-sm" style="display: flex; justify-content: center;">
{% if language == "fr" %}
  <div class="row mrgn-lft-lg">
    <div class="row">
      <div class="col-md-6 col-xs-12" style="font-family: Lato,sans-serif;">
        <div style="font-size: 1.8em; font-weight: 900; border-bottom: .18em solid #e6a1e4; margin-bottom: .4em; margin-top: .8em; padding-bottom: 1.0em; border-image: linear-gradient(to right,#98a0b3 71px,transparent 71px); border-image-slice: 1">Examinez les frais de voyage<br>Visualisation des données</div>
      </div>
      <div class="col-md-6 col-xs-12"></div>
    </div>
    <div class="row">
      <div class="col-md-4 col-xs-12" style="font-family: Lato,sans-serif;">
        <div>Auto-explorez les dépenses de voyage visualisées par institutions, les voyages par institution, la création de rapports personnalisés, l'exportation et le partage.</div>
        <div class="text-left mrgn-tp-lg"><a href="https://stadification.ouvert.canada.ca/data/fr/dataset/009f9a49-c2d9-4d29-a6d4-1a228da335ce/resource/3a3c92ab-ee12-4873-9542-3ff04efb8545" class="btn btn-primary" role="button" alt="Link to visualization">Explorer</a></div>
      </div>
      <div class="col-md-8 col-xs-12"><img src="{% static 'search_snippets/custom/travelq/tr_teaser-fr.png' %}" class="img-responsive full-width teaser-img-right" alt="Examinez les frais de voyage Visualisation des données"></div>
    </div>
  </div>
{% else %}
  <div class="row mrgn-lft-lg">
    <div class="row">
      <div class="col-md-6 col-xs-12" style="font-family: Lato,sans-serif;">
        <div style="font-size: 1.8em; font-weight: 900; border-bottom: .18em solid #e6a1e4; margin-bottom: .4em; margin-top: .8em; padding-bottom: 1.0em; border-image: linear-gradient(to right,#98a0b3 71px,transparent 71px); border-image-slice: 1">Examine the Travel Expenses<br>Data Visualization</div>
      </div>
      <div class="col-md-6 col-xs-12"></div>
    </div>
    <div class="row">
      <div class="col-md-4 col-xs-12" style="font-family: Lato,sans-serif;">
        <div>Self-explore visualized travel expenses by institutions, travels by institution, custom report building, export and share.</div>
        <div class="text-left mrgn-tp-lg"><a href="https://staging.open.canada.ca/data/en/dataset/009f9a49-c2d9-4d29-a6d4-1a228da335ce/resource/3a3c92ab-ee12-4873-9542-3ff04efb8545" class="btn btn-primary" role="button" alt="Link to visualization">Explore</a></div>
      </div>
      <div class="col-md-8 col-xs-12"><img src="{% static 'search_snippets/custom/travelq/tr_teaser-en.png' %}" class="img-responsive full-width teaser-img-right" alt="Examine the Travel Expenses Data Visualization"></div>
    </div>
  </div>
{% endif %}
</div>
