{% load i18n %}
{% load search_extras %}
{% load static %}

{% if language == "fr" %}
  <div class="row" style="margin-top: .4em">
    <div class="col-md-8" style="font-family: Lato,sans-serif;">
      <div style="font-size: 1.4em; font-weight: 800; border-bottom: .18em solid #e6a1e4; margin-bottom: .4em;padding-bottom: .4em; border-image: linear-gradient(to right,#e6a1e4 71px,transparent 71px); border-image-slice: 1">Examinez les frais de voyage Visualisation des données</div>
    </div>
    <div class="col-md-4">
      <img src="{% static 'search_snippets/custom/travelq/expense-1-fr.png' %}" class="img-responsive pstn-tp-md pstn-rght-md" style="z-index: 2; max-width: 250px">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" style="font-family: Noto Sans,sans-serif;">
       Auto-explorez les dépenses de voyage visualisées par institutions, les voyages par institution, la création de rapports personnalisés, l'exportation et le partage.
      <div class="text-left mrgn-tp-md"><a href="https://stadification.ouvert.canada.ca/data/fr/dataset/009f9a49-c2d9-4d29-a6d4-1a228da335ce/resource/3a3c92ab-ee12-4873-9542-3ff04efb8545" class="btn btn-primary" role="button" alt="Link to visualization">Explorer</a></div>
    </div>
    <div class="col-md-8">
      <img src="{% static 'search_snippets/custom/travelq/expense-2-fr.png' %}" class="img-responsive full-width pstn-rght-md" style="z-index: 1; max-width: 800px;">
    </div>
  </div>
{% else %}
  <div class="row" style="margin-top: .4em">
    <div class="col-md-8" style="font-family: Lato,sans-serif;">
      <div style="font-size: 1.4em; font-weight: 800; border-bottom: .18em solid #e6a1e4; margin-bottom: .4em;padding-bottom: .4em; border-image: linear-gradient(to right,#e6a1e4 71px,transparent 71px); border-image-slice: 1">Examine the Travel Expenses Data Visualization</div>
    </div>
    <div class="col-md-4">
      <img src="{% static 'search_snippets/custom/travelq/expense-1-en.png' %}" class="img-responsive pstn-tp-md pstn-rght-md" style="z-index: 2; max-width: 250px">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" style="font-family: Noto Sans,sans-serif;">
       Self-explore visualized travel expenses by institutions, travels by institution, custom report building, export and share.
      <div class="text-left mrgn-tp-md"><a href="https://staging.open.canada.ca/data/en/dataset/009f9a49-c2d9-4d29-a6d4-1a228da335ce/resource/3a3c92ab-ee12-4873-9542-3ff04efb8545" class="btn btn-primary" role="button" alt="Link to visualization">Explore</a></div>
    </div>
    <div class="col-md-8">
      <img src="{% static 'search_snippets/custom/travelq/expense-2-en.png' %}" class="img-responsive full-width pstn-rght-md" style="z-index: 1; max-width: 800px;">
    </div>
  </div>
{% endif %}
