
{% load i18n %}
{% load search_extras %}

<div class="row">
  <div class="col-md-3"><strong>{% translate 'Action: ' %}</strong></div>
  <div class="col-md-9">{% if language == "fr" %}{{ doc.actions_text_fr | markdown_filter | safe | strip_paragraph }}{% else %}{{ doc.actions_text_en | markdown_filter | safe | strip_paragraph }}{% endif %}</div>
</div>

<div class="row">
  <div class="col-md-3"><strong>{% translate 'Organization: ' %}</strong></div>
  <div class="col-md-9">{% if language == "fr" %}{{ doc.owner_org_fr }}{% else %}{{ doc.owner_org_en }}{% endif %}</div>
</div>

<div class="row">
  <div class="col-md-3"><strong>{% translate 'Category: ' %}</strong></div>
  <div class="col-md-9">({{ doc.categories_number }}) {% if language == "fr" %}{{ doc.categories_number_fr }}{% else %}{{ doc.categories_number_en }}{% endif %}</div>
</div>

<div class="row">
  <div class="col-md-3"><strong>{% translate 'Subcategory: ' %}</strong></div>
  <div class="col-md-9">({{ doc.subcategories_number }}) {% if language == "fr" %}{{ doc.subcategories_number_fr }}{% else %}{{ doc.subcategories_number_en }}{% endif %}</div>
</div>

<div class="row">
  <div class="col-md-3"><strong>{% translate 'Status: ' %}</strong></div>
  <div class="col-md-9">{% if language == "fr" %}{{ doc.status_fr }}{% else %}{{ doc.status_en }}{% endif %}</div>
</div>

<div class="row">
  <div class="col-md-3"><strong>{% translate 'Action Number: ' %}</strong></div>
  <div class="col-md-9">{{ doc.actions_number }}</div>
</div>

<div class="row">
  <div class="col-md-3"><strong>{% translate 'Target Date: ' %}</strong></div>
  <div class="col-md-9">{% if language == "fr" %}{{ doc.target_date_fr }}{% else %}{{ doc.target_date_en }}{% endif %}</div>
</div>

<div class="row">
  <div class="col-md-3"><strong>{% translate 'Benefits: ' %}</strong></div>
  <div class="col-md-9">{% if language == "fr" %}{{ doc.benefits_fr | markdown_filter | safe }}{% else %}{{ doc.benefits_en | markdown_filter | safe  }}{% endif %}</div>
</div>

{% if language == "fr" and doc.results_fr != "-" %}
<div class="row">
  <div class="col-md-3"><strong>{% translate 'Results: ' %}</strong></div>
  <div class="col-md-9">{{ doc.results_fr | markdown_filter | safe  }}</div>
</div>
{% elif language == "en" and doc.results_en != "-"  %}
<div class="row">
  <div class="col-md-3"><strong>{% translate 'Results: ' %}</strong></div>
  <div class="col-md-9">{{ doc.results_en | markdown_filter | safe  }}</div>
</div>
{% endif %}
